/*Global================== */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
}
:root{
    --roxo: #d60df4;
    --azul: #4901f5;
    --fontPrincipal: 'Work sans', sans-serif;
}
body{
    background: linear-gradient(45deg,var(--roxo),var(--azul));
    font-family: var(--fontPrincipal);
    background-repeat: no-repeat;
    background-attachment:  fixed;
}
/*Global=================*/

/*header==============*/

header{
    text-align: center;
    padding: 30px;
}
header h1{
    font-size: 2.3em;
    text-shadow: 1px 1px 1px rgb(141, 141, 141);
    color: rgb(184, 184, 184);
}

/*header==============*/

/*cronometro==============*/
#cronometro{
    width: 290px;
    text-align: center;
    margin:  0 auto;
}
#cronometro img{
    width: 290px;
}
#cronometro #resposta{
    position: relative;
    top: -147px;
    font-size: 2.5em;
}
/*cronometro==============*/

/*interaction ============*/
#interaction{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    max-width: 900px;
    margin:  0 auto;
}
#interaction input{
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
    display: inline-block;
    height: 50px;
    font-size: 1.6em;
    font-weight: 500;
    border: 1.5px solid gray;
    transition-duration: 1s;
    cursor: pointer;
}
#interaction input:hover{
    background-color: rgba(0, 0, 0, 0.829);
}

/*interaction ============*/

/*ol(ordened list)=========*/
ol{
    box-sizing: border-box;
    padding: 10px;
    width: min(530px,62%);
    margin: 1em auto;
    text-align: left;
    background: linear-gradient(45deg,#8500de2d,#8400DE,);
    border-radius:  5px;
}
li{
    text-align: center;
   font-size: 1.8em; 
   color: #fff;
   letter-spacing: 3px;

}



